*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
color: rgb(95, 202, 245);
}

body{
    background-color: #f5f5f5;
}

.container{
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
}

form input, form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
}

form input:focus, 
form textarea:focus{
    outline: none;
    box-shadow: 0 0 5px #333;
}

form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(95, 202, 245);
    background-color: #333;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover{
    background-color: #555;
}

